
@{
    ViewBag.Title = "Status & Progress";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12">

        <div id="grid"></div>

    </div>

</div>

@section scripts {
<script type="text/javascript">
var readDataUrl = '@Url.Action("ReadData", "Progress")';
var methodUrl = '@Url.Action("Index", "Method")';

$(document).ready(function () {
    refreshTable();
    initializeGrid();
});

function initializeGrid() {
    var dateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    dateField.prototype = new jsGrid.Field({
        align: "center",              
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },
        itemTemplate: function (value) {
            if (value) {
                var date = new Date(value);
                return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
            } else {
                return;
            }
        }
    });
    jsGrid.fields.date = dateField;

    var longText = function (config) {
        jsGrid.Field.call(this, config);
    };
    longText.prototype = new jsGrid.Field({
        itemTemplate: function (value, item) {
            if (value)
                return '<div style="overflow-y: auto; max-height: 60px;">' + value + '</div>';
            else
                return;
        }
    });
    jsGrid.fields.longtext = longText;

    $("#grid").jsGrid({
        width: "100%",
        height: "auto",

        inserting: false,
        editing: false,
        sorting: false,

        paging: true,
        pageIndex: 1,
        pageSize: 20,
        pageLoading: true,
        pagerFormat: "{prev} {pages} {next}      {pageIndex} of {pageCount}",

        loadIndication: true,
        loadIndicationDelay: 500,
        loadMessage: "Please, wait...",
        loadShading: true,

        fields: [
            { name: "JobID", type: "longtext", width: "80", title: "JobID" },
            { name: "ProcessID", type: "longtext", width: "80", title: "PID" },
            {
                name: "JobName", type: "text", width: "60", title: "Name",
                itemTemplate: function (value, item) {
                    return '<a href="' + methodUrl + '?jobID=' + item.JobID + '" target="_blank">' + value + '</a>';
                }
            },
            { name: "StatusLabel", type: "text", width: "60", title: "Status" },
            { name: "Percent", type: "text", width: "50", title: "%" },
            { name: "Note", type: "longtext", width: "140" },
            { name: "Error", type: "longtext", width: "140" },
            { name: "Start", type: "date", width: "80" },
            { name: "End", type: "date", width: "80" },
            { name: "Created", type: "date", width: "80" }
        ],

        autoload: true,
        controller: {
            loadData: function (filter) {
                var d = $.Deferred();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: readDataUrl,
                    data: filter
                }).done(function (response) {
                    d.resolve(response);
                    return;
                });
                return d.promise();
            }
        }
    });
}

function refreshTable() {
    setInterval(
        function () {
            $("#grid").jsGrid('render');
        },
        2000
    );
}

</script>
}