
@{
    ViewBag.Title = "Jobs Results";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="command-bar btn-group">
            <a href="#" class="btn btn-default" data-action="" data-key="refresh">Refresh</a>
        </div>
    </div>

</div>

<div class="row" style="margin-top: 15px;">
    <div class="col-sm-12">

        <div id="grid"></div>

    </div>

</div>

@section scripts {
<script type="text/javascript">
var readDataUrl = '@Url.Action("ReadData", "JobResult")';
var getContentUrl = '@Url.Action("GetContent", "JobResult")';

$(document).ready(function () {
    initializeGrid();
    initCommands();
});

function initializeGrid() {
    var dateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    dateField.prototype = new jsGrid.Field({
        align: "center",
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },
        itemTemplate: function (value) {
            if (value) {
                var date = new Date(value);
                return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
            } else {
                return;
            }
        },
    });
    jsGrid.fields.date = dateField;

    var longText = function (config) {
        jsGrid.Field.call(this, config);
    };
    longText.prototype = new jsGrid.Field({
        itemTemplate: function (value, item) {
            if (value)
                return '<div style="overflow-y: auto; max-height: 60px;">' + value + '</div>';
            else
                return;
        }
    });
    jsGrid.fields.longtext = longText;

    $("#grid").jsGrid({
        width: "100%",
        height: "auto",

        inserting: false,
        editing: false,
        sorting: false,

        paging: true,
        pageIndex: 1,
        pageSize: 20,
        pageLoading: true,
        pagerFormat: "{prev} {pages} {next}      {pageIndex} of {pageCount}",

        loadIndication: true,
        loadIndicationDelay: 500,
        loadMessage: "Please, wait...",
        loadShading: true,

        fields: [
            { name: "JobResultID", type: "number", width: "80" },
            { name: "JobID", type: "number", width: "80", title: "JobID" },
            { name: "ExternalID", type: "text", width: "240" },
            { name: "Name", type: "text", width: "auto" },
            { name: "ContentType", type: "text", width: "100", title: "Type"},
            {
                name: "ViewContent", type: "text", width: "80", align: "center", title: "View Content",
                itemTemplate: function (value, item) {
                    return '<a href="' + getContentUrl + '?externalID=' + item.ExternalID + '">view</a>';
                }
            },
        ],

        autoload: true,
        controller: {
            loadData: function (filter) {
                var d = $.Deferred();
                $.ajax({
                    type: "GET",
                    url: readDataUrl,
                    data: filter,
                }).done(function (response) {
                    d.resolve(response);
                    return;
                });
                return d.promise();
            }
        }
    });
}

function initCommands() {
     $('.command-bar a[data-key]').click(function () {
        var $this = $(this);
        var key = $this.attr('data-key');
        var action = $this.attr('data-action');
        var grid = $('#grid');
        switch (key) {
            case 'refresh':
                grid.jsGrid('render');
                break;
        }
        return false;
    });
}


</script>
}