@{
    ViewBag.Title = "Add Jobs";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12">

        <p>Add Jobs to Queue</p>

        <form action="@Url.Action("Add", "Job")" method="post" class="form">
            <div class="form-group">
                <label>Job 1  </label>
                <input type="text" value="1" name="p1Count" class="form-control input-sm" style="width: 60px; display: inline-block;" />
                <span class="help-block">Job1.Start("Hello World!", progress)</span>
            </div>
            <div class="form-group">
                <label>Job 2  </label>
                <input type="text" value="1" name="p2Count" class="form-control input-sm" style="width: 60px; display: inline-block;" />
                <span class="help-block">Job2.Start(progress, 1)</span>
            </div>
            <div class="form-group">
                <label>Job 3 (simple Array)  </label>
                <input type="text" value="1" name="p3Count" class="form-control input-sm" style="width: 60px; display: inline-block;" />
                <span class="help-block">Job3.Start(progress, simpleList)</span>
            </div>
            <div class="form-group">
                <label>Job 4 (complex Array) </label>
                <input type="text" value="1" name="p4Count" class="form-control input-sm" style="width: 60px; display: inline-block;" />
                <span class="help-block">Job4.Start(progress, complexList)</span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Add" />
            </div>
        </form>

        <p>
            @Html.Raw(ViewBag.Message)
        </p>
    </div>
</div>

