body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.k-state-selected {
    background-color: #96CC2E;
    color: inherit;
}

.k-pager-numbers .k-state-selected {
    color: #333;
}

.nav-brand img {
    max-height: 50px;
}

.k-grid-header th.k-header > .k-link {
    text-overflow: clip;
}
.k-grid td  {
    padding: 2px 3px;
}